<template>
  <header>
      <div class="container">
        <router-link to="/" class="logo"><h1>The Agile Den</h1></router-link>
        <nav>
            <ul>
                <router-link to="about">About</router-link>
            </ul>
        </nav>
      </div>
  </header>
</template>

<script>
    export default {
        name: 'Header'
    }
</script>
