<template>
    <div class="home">
        <div class="banner">
            <div class="container">
                <h1>Beyond Agile</h1>
                <p>An Agile Coach is someone who takes teams beyond getting agile practises up and running,
                    into their deliberate pursuit of high performance
                </p>
            </div>
        </div>
        <div class="mid-section container">
            <div>
                <span class="icon-placeholder"><img src="" alt="icon"></span>
                <h3>Our Mission</h3>
            </div>
            <div>
                <span class="icon-placeholder"><img src="" alt="icon"></span>
                <h3>What We Do</h3>
            </div>
            <div>
                <span class="icon-placeholder"><img src="" alt="icon"></span>
                <h3>What's In It For You</h3>
            </div>
        </div>
    </div>
</template>

<script>

export default {
  name: 'Home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    
</style>
