<template>
    <nav>
        <ul>
            <router-link to="about">About</router-link>
        </ul>
    </nav>
</template>

<script>
    export default {
        name: 'Navigation'
    }
</script>
