@import 'colors';

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.container {
    max-width: 75rem;
    margin: auto;
    padding: 2rem;
}

.banner{
    background-color: @background;
}

header {
    color: @text;
    font-family: 'Lato', sans-serif;
    width: 100%;
    position: fixed;
    //display: flex;
    //flex-direction: row;
    //justify-content: flex-end;
    box-shadow: 0 2px 10px #cdcdcd;
    //align-items: center;

    .container {
        padding: 1rem;
    }

    .logo {
        font-family: 'Oswald', sans-serif;
        color: @text;
        text-transform: uppercase;
        text-decoration: none;

        &:hover, &:focus {
            color: @text-hover;
        }
    }
}

.home {
    .banner {
        h1 {
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 6rem;
            margin: 0;
        }
    
        p {
            font-size: 2rem;
            line-height: 1.5rem;
            width: 65%;
        }
    }
}